# Node / Firebase
node_modules/
firebase-debug.log
.firebaserc.local
.functions-log.txt

# Firebase build outputs
functions/lib/
functions/.eslintcache
.storage/
.coverage/

# Local configs / secrets (no subir)
.env
.env.*
*.secret
*.key
*.pem
*.p12
*.bak
runtimeconfig.json
.service-account.json

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
